.border-top-left-radius {
  border-top-left-radius: 5px;
}

.border-top-right-radius {
  border-top-right-radius: 5px;
}

.border-bottom-right-radius {
  border-bottom-right-radius: 5px;
}

.border-bottom-left-radius {
  border-bottom-left-radius: 5px;
}

.border-radius {
  border-radius: 5px;
}

.border-line-200 {
  border: 0.2rem solid var(--au-gray-200);
}

.border-left-selected {
  border-left: 0.45rem solid var(--au-select-text-color) !important;
  border-style: inset;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    border-left: 0.45rem solid var(--au-gray-500) !important;
    border-style: inset;
  }
}

.border-left-transparent {
  border-left: 0.45rem solid transparent !important;
  border-style: inset;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    border-left: 0.45rem solid var(--au-gray-500) !important;
    border-style: inset;
  }
}

.width-full {
  width: 100%;
}

/* Could not find the grey background class that is used for the collapsible */
.background-gray {
  background-color: #f4f5f6;
}

/* Could not find the white background class from AU */
.background-white {
  background-color: var(--au-white);
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
