.border-top-left-radius {
  border-top-left-radius: 5px;
}

.border-top-right-radius {
  border-top-right-radius: 5px;
}

.border-bottom-right-radius {
  border-bottom-right-radius: 5px;
}

.border-bottom-left-radius {
  border-bottom-left-radius: 5px;
}

.border-left-selected {
  border-left: 0.45rem solid var(--au-select-text-color) !important;
  border-style: inset;
}

.width-full {
  width: 100%;
}

/* Could not find the grey background class that is used for the collapsible */
.background-gray {
  background-color: #f4f5f6;
}

/* Could not find the white background class from AU */
.background-white {
  background-color: var(--au-white);
}

/* Could not find the white background class from AU */
.background-light-blue {
  background-color: var(--au-blue-200);
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
