.au-c-card--flex .au-c-card__header {
  gap: $au-unit-small;
}

.au-c-card--data .au-u-flex--between button.au-u-flex--spaced-tiny {
  border: none;
  cursor: pointer;
}

.au-c-boxed-table {
  border: 1px solid var(--au-gray-200);
  border-radius: $au-radius;

  .au-c-data-table__wrapper {
    border-top: 0;
  }

  tbody tr:last-child,
  .au-c-data-table__message {
    border-bottom: 0;
  }
}

.au-c-toolbar--nowrap {
  position: relative;
  align-items: stretch;

  @include mq($until: small) {
    flex-wrap: wrap;
  }
}

.au-c-toolbar__action {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: $au-unit-small;

  .au-c-button-group {
    justify-content: flex-end;
  }
}

.yasgui .controlbar {
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.yasgui .autocompleteWrapper {
  display: none !important;
}

@include mq($au-main-container-breakpoint) {
  .au-c-app {
    overflow: visible !important;
  }

  .au-c-app .au-c-main-container {
    overflow: visible !important;
  }
}

.ember-power-select-multiple-options > li {
  flex-grow: 1;
}

.au-c-data-table td {
  vertical-align: middle;
}

.card-helptext {
  width: 32px;
}

.modal-diagram {
  height: 20%;
}

.bjs-breadcrumbs {
  display: none !important;
}

#process-concept-selection-form .au-c-sidebar-container__content {
  min-height: 554px;
}

.process-modal-table {
  min-width: auto;
}

.process-modal-table .au-c-link {
  text-decoration: none;
  color: var(--au-gray-1000);
  outline: none;
}

.process-modal-table .au-c-link:hover {
  color: var(--au-blue-700);
}

.process-modal-table-wrapper {
  max-height: 554px;
  min-height: 554px;
}

.process-change-button {
  flex-shrink: 0;
}

.process-modal-row.is-selected {
  background-color: var(--au-blue-100);
  border: 2px solid var(--au-blue-600);
  color: var(--au-blue-700);
}

.process-modal-row.is-selected .au-c-link {
  color: var(--au-blue-700);
}

.inventory-process-number {
  width: 3.5rem;
}

.inventory-row-button-group .au-c-button {
  visibility: hidden;
}

tr:hover .inventory-row-button-group .au-c-button {
  visibility: visible;
}

.show-element-on-hover--element {
  visibility: hidden;
}

.show-element-on-hover:hover {
  .show-element-on-hover--element {
    visibility: visible;
  }
}

.icon--black {
  color: var(--au-gray-1000) !important;
}
