.au-c-card--flex .au-c-card__header {
  gap: $au-unit-small;
}

.au-c-card--data .au-u-flex--between button.au-u-flex--spaced-tiny {
  border: none;
  cursor: pointer;
}

.au-c-boxed-table {
  border: 1px solid var(--au-gray-200);
  border-radius: $au-radius;

  .au-c-data-table__wrapper {
    border-top: 0;
  }

  tbody tr:last-child,
  .au-c-data-table__message {
    border-bottom: 0;
  }
}

.au-c-toolbar--nowrap {
  position: relative;
  align-items: stretch;

  @include mq($until: small) {
    flex-wrap: wrap;
  }
}

.au-c-toolbar__action {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: $au-unit-small;

  .au-c-button-group {
    justify-content: flex-end;
  }
}

.yasgui .controlbar {
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.yasgui .autocompleteWrapper {
  display: none !important;
}

@include mq($au-main-container-breakpoint) {
  .au-c-app {
    overflow: visible !important;
  }

  .au-c-app .au-c-main-container {
    overflow: visible !important;
  }
}

.ember-power-select-multiple-options > li {
  flex-grow: 1;
}

.au-c-data-table td {
  vertical-align: middle;
}

.card-helptext {
  width: 32px;
}

.modal-diagram {
  height: 20%;
}

.bjs-breadcrumbs {
  display: none !important;
}

#process-concept-selection-form .au-c-sidebar-container__content {
  min-height: 554px;
}

.process-modal-table {
  min-width: auto;
}

.process-modal-table .au-c-link {
  text-decoration: none;
  color: var(--au-gray-1000);
  outline: none;
}

.process-modal-table .au-c-link:hover {
  color: var(--au-blue-700);
}

.process-modal-table-wrapper {
  max-height: 554px;
  min-height: 554px;
}

.process-change-button {
  flex-shrink: 0;
}

.process-modal-row.is-selected {
  background-color: var(--au-blue-100);
  border: 2px solid var(--au-blue-600);
  color: var(--au-blue-700);
}

.process-modal-row.is-selected .au-c-link {
  color: var(--au-blue-700);
}

.inventory-process-number {
  width: 3.5rem;
}

.inventory-row-button-group .au-c-button {
  visibility: hidden;
}

tr:hover .inventory-row-button-group .au-c-button {
  visibility: visible;
}

.show-element-on-hover--element {
  visibility: hidden;
}

.show-element-on-hover:hover {
  .show-element-on-hover--element {
    visibility: visible;
  }
}

.color--black {
  color: var(--au-gray-1000) !important;
}

.bg-200--blue {
  background-color: var(--au-blue-200) !important;
}

.highlight-section {
  border-radius: 5px;
  background-color: var(--au-blue-200) !important;
  padding-bottom: 1rem;
}

.inventory-domain-tables {
  display: flex;
  flex-flow: row wrap;
  gap: 2.5rem;

  table {
    width: 25vw !important;
  }
}

.au-c-tabs-list__item a:focus {
  outline: none !important;
}

.color--warning {
  color: var(--au-orange-700);
}

.no-border {
  border: none !important;
}

.pointer {
  cursor: pointer;
}

.information-asset-pill {
  &:hover {
    color: var(--vl-orange-120);
    background-color: var(--vl-orange-10);
    border-color: var(--vl-orange-100);
    transition: 0.2s ease-in-out;
  }

  &:active {
    scale: 0.95;
  }
}

.assets-multiple-select {
  .ember-power-select-multiple-options > li {
    flex-grow: 0;
  }
}

.u-color-top-border-yellow {
  border-top: solid 0.5rem var(--au-yellow-300);
}

.u-color-top-border-gray {
  border-top: solid 0.5rem var(--au-gray-300);
}

.animate-left {
  transition: 0.2s ease-in-out;

  &:hover {
    transform: translateX(-0.5rem);
  }
}

.process-wizard-modal.au-c-modal {
  height: 50vh !important;
  border-radius: 5px !important;
}

.wizard-success-icon {
  .au-c-icon--large {
    width: 50px !important;
    height: 50px !important;
  }
  .au-c-icon {
    fill: var(--au-green-700) !important;
  }
}
