<div
  class="au-u-flex au-u-flex--column au-u-flex--center au-u-flex--vertical-center au-u-margin-top au-u-margin-bottom"
>
  <div class="circular-loader"></div>
  {{#if @message}}
    <p class="au-u-margin-top-small">{{@message}}</p>
  {{/if}}
</div>