<AuAlert
  @title="Gelukt!"
  @skin="success"
  @icon="check"
  @size="small"
  @closable="true"
  @onClose={{@close}}
>
  <p>
    <LinkTo
      class="au-c-link"
      @model={{@options.newFileId}}
      @route="bpmn-uploads.bpmn-file"
    >Raadpleeg nieuw BPMN-bestand
    </LinkTo>
  </p>
</AuAlert>