<div
  class="bpmn-container au-u-margin-top-small"
  {{did-insert this.setupViewer}}
>
  {{! template-lint-disable require-valid-alt-text }}
  <object
    data="{{this.pdfBlobUrl}}"
    type="application/pdf"
    width="100%"
    height="100%"
  />
</div>