<div class="au-u-flex au-u-flex--between au-u-flex--vertical-center">
  <AuLabel for="filter-blueprint">Blauwdruk</AuLabel>
  <AuCheckbox
    id="filter-blueprint"
    @checked={{this.isBlueprint}}
    @onChange={{this.toggleBlueprintFilter}}
  />
</div>