{{!-- template-lint-disable no-inline-styles --}}
<div class="au-c-sidebar-container" ...attributes style="overflow-y:auto">
  <div class="au-c-sidebar-container__sidebar">{{yield to="sidebar"}}</div>
  <div class="au-c-sidebar-container__content" id="content" tabindex="0">{{yield to="content"}}</div>
</div>