.bpmn-container {
  flex: none;
  height: 500px;
  border: 1px solid var(--au-gray-200);
  border-radius: $au-radius;
  overflow: hidden;
  background-color: var(--au-gray-100);
  outline: none;
}

.bpmn-container:focus {
  outline: 0.2rem solid var(--au-blue-700);
}

.bjs-powered-by {
  display: none;
}
