.bpmn-container {
  flex: none;
  position: relative;
  height: 500px;
  width: 100%;
  border: 1px solid var(--au-gray-200);
  border-radius: $au-radius;
  overflow: hidden;
  background-color: var(--au-gray-100);
  outline: none;
}

.bpmn-container:focus {
  outline: 0.2rem solid var(--au-blue-700);
}

.bjs-powered-by {
  display: none;
}

.diagram-navigation {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;

  .navigation-counter {
    text-decoration: none !important;
    cursor: default;
  }
}
