.bg-white {
  background-color: white !important;
}

.c-home--content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-home-limit-width-70 {
  max-width: 70%;
}

@media ((width <= 63.9375em)) {
  .c-home-smaller-image-when-mobile {
    max-width: 15vh;
  }

  .au-c-sidebar {
    border: 0;
  }
}

.override-home-page {
  overflow-x: hidden !important;
}

@media ((width >= 63.9375em)) {
  .au-c-app.override-home-page {
    overflow-y: hidden !important;
  }
}
