.circular-loader {
  border: 0.45rem solid var(--au-gray-200);
  border-top: 0.45rem solid var(--au-yellow-300);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
