mark:not(:has(a)) {
  background-color: #ffe615;
  padding: 0 0.5rem;
  margin-left: -0.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

mark a {
  background-color: #ffe615;
  padding: 0 0.5rem;
  margin-left: -0.5rem;
  width: fit-content;
}

ins {
  background-color: #d1fadf;
  padding: 0 0.5rem;
}

del {
  background-color: #fee4e2;
  padding: 0 0.5rem;
}
