.wizard-success-icon {
  .au-c-icon--large {
    width: 50px !important;
    height: 50px !important;
  }

  .au-c-icon {
    fill: var(--au-green-700) !important;
  }
}

.wizard-actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.wizard-actions > div {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  gap: 0.5rem;
  border: 1px solid var(--au-gray-200);
  padding: 2rem 1rem;
  cursor: pointer;

  .au-c-icon {
    fill: var(--au-gray-700) !important;
  }
}

.is-disabled-action {
  opacity: 0.5;
  background-color: var(--au-gray-200) !important;
  cursor: not-allowed !important;
}
