.border-top-left-radius {
  border-top-left-radius: 5px;
}

.border-top-right-radius {
  border-top-right-radius: 5px;
}

.border-bottom-right-radius {
  border-bottom-right-radius: 5px;
}

.border-bottom-left-radius {
  border-bottom-left-radius: 5px;
}
.border-left-selected {
  border-left: 0.45rem solid var(--au-select-text-color) !important;
  border-style: inset;
}
.width-full {
  width: 100%;
}

.background-gray {
  background-color: #f4f5f6; // NOTE - could not find the collapsible background color
}
.background-white {
  background-color: var(
    --au-white
  ); // NOTE - could not find the au-white background class
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
