<div class="au-u-flex au-u-flex--row">
  <div>
    <div>
      {{#each this.diagrams as |diagram|}}
        {{! template-lint-disable no-invalid-interactive }}
        <div
          {{on "click" (fn this.selectDiagramFile diagram.diagramFile)}}
          class="au-u-flex au-u-flex--column au-u-padding au-u-padding-top-small au-u-padding-bottom-small border-top-left-radius border-bottom-left-radius pointer
            {{if
              (eq this.selectedDiagramFile.id diagram.diagramFile.id)
              'background-gray'
              'background-white'
            }}"
        >
          {{diagram.diagramFile.name}}
        </div>
      {{/each}}
    </div>
  </div>
  <div
    class="au-o-box width-full background-gray border-top-right-radius border-bottom-right-radius border-bottom-left-radius"
  >
    <File::Viewer @file={{this.selectedDiagramFile}} />
  </div>
</div>