{{#if (or @label @statusUri)}}
  <span class="au-u-flex au-u-flex--between">
    {{#if @label}}
      {{@label}}
    {{/if}}
    {{#if this.status}}
      <AuPill @skin={{this.status.skin}} class="no-underline">
        {{this.status.label}}
      </AuPill>
    {{/if}}
  </span>
{{/if}}