{{#if this.hasError}}
  <AuAlert @title="Weergavefout" @skin="warning" @icon="alert-triangle">
    Er ging iets mis tijdens het visualiseren van het diagram.
  </AuAlert>
{{else}}

  <div
    class="bpmn-container au-u-margin-top-small"
    {{this.bpmnViewer
      diagram=@diagram
      onBpmnLoaded=@onBpmnLoaded
      onSvgLoaded=@onSvgLoaded
      onError=this.setError
    }}
  ></div>
{{/if}}