<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <form
          {{on "reset" this.resetFilters}}
          class="au-o-box au-o-box--small au-o-flow au-o-flow--small au-u-padding"
        >
          <h1 class="au-u-h3 au-u-medium">Filters</h1>
        </form>
      </div>
    </div>
  </:sidebar>
  <:content>
    <PageHeader>
      <:title>Inventaris processen Lokale Besturen</:title>
      <:subtitle>
        <AuLinkExternal href="https://abb-vlaanderen.gitbook.io/informatie-oph">
          Handleiding Open Proces Huis
        </AuLinkExternal>
      </:subtitle>
      <:action>
      </:action>
    </PageHeader>
  </:content>
</SidebarContainer>
