{{page-title "Over processen en BPMN-bestanden"}}

<LayoutDetail>
  <div class="au-o-region-large">
    <div class="au-o-layout">
      <AuContent class="au-u-3-4@medium">
        <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
          <AuHeading>Over processen en BPMN-bestanden</AuHeading>
        </div>
        <AuHeading @level="2" @skin="2">Processen</AuHeading>
        <p>...</p>
        <AuHeading @level="2" @skin="2">BPMN-bestanden</AuHeading>
        <p>...</p>
      </AuContent>
    </div>
  </div>
</LayoutDetail>