{{page-title "Over processen en BPMN-bestanden"}}

<LayoutDetail>
  <div class="au-o-region-large">
    <div class="au-o-layout">
      <AuContent class="au-u-3-4@medium">
        <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
          <AuHeading>Over processen en BPMN-bestanden</AuHeading>
        </div>
        <AuHeading @level="2" @skin="2">Processen</AuHeading>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget est placerat, sagittis mauris sed, accumsan augue. Nam ac dictum quam. Donec porttitor euismod risus, a consectetur urna accumsan pretium. In sem diam, varius eget sem a, tempus scelerisque lorem. Suspendisse luctus tortor a nisi dapibus rutrum. Curabitur sagittis nisl in odio mollis vestibulum. Aenean ullamcorper sagittis mollis. Fusce tristique et orci non tristique. Pellentesque ut efficitur lectus. </p>
        <AuHeading @level="2" @skin="2">BPMN-bestanden</AuHeading>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget est placerat, sagittis mauris sed, accumsan augue. Nam ac dictum quam. Donec porttitor euismod risus, a consectetur urna accumsan pretium. In sem diam, varius eget sem a, tempus scelerisque lorem. Suspendisse luctus tortor a nisi dapibus rutrum. Curabitur sagittis nisl in odio mollis vestibulum. Aenean ullamcorper sagittis mollis. Fusce tristique et orci non tristique. Pellentesque ut efficitur lectus. </p>
        <AuHeading @level="2" @skin="2">Tools</AuHeading>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget est placerat, sagittis mauris sed, accumsan augue. Nam ac dictum quam. Donec porttitor euismod risus, a consectetur urna accumsan pretium. In sem diam, varius eget sem a, tempus scelerisque lorem. Suspendisse luctus tortor a nisi dapibus rutrum. Curabitur sagittis nisl in odio mollis vestibulum. Aenean ullamcorper sagittis mollis. Fusce tristique et orci non tristique. Pellentesque ut efficitur lectus. </p>
        <AuHeading @level="2" @skin="2">Meer info</AuHeading>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget est placerat, sagittis mauris sed, accumsan augue. Nam ac dictum quam. Donec porttitor euismod risus, a consectetur urna accumsan pretium. In sem diam, varius eget sem a, tempus scelerisque lorem. Suspendisse luctus tortor a nisi dapibus rutrum. Curabitur sagittis nisl in odio mollis vestibulum. Aenean ullamcorper sagittis mollis. Fusce tristique et orci non tristique. Pellentesque ut efficitur lectus. </p>
      </AuContent>
    </div>
  </div>
</LayoutDetail>