<LayoutHome>
  {{#if this.currentSession.canOnlyReadWhileAuthenticated}}
    <AuAlert
      @skin="warning"
      @icon="alert-triangle"
      @size="small"
      class="au-u-margin-bottom-none"
    >
      U beschikt niet over de rechten om inhoud te wijzigen in het Open Proces
      Huis. Uw toegang is beperkt tot alleen-lezen modus. Neem contact op met de
      lokale beheerder (ICT).
    </AuAlert>
  {{/if}}
  <AuBodyContainer class="au-u-background-gray-100">
    <section class="c-home">
      <div class="au-o-flow">
        <AuContent>
          <AuHeading @level="1" @skin="2">Welkom bij Open Proces Huis, jouw
            centrale bron voor het ontdekken en delen van processen.</AuHeading>
          <div class="c-home__visual">
            <img
              src="/assets/images/homepage-visual.svg"
              class="c-home-visual"
              alt=""
              {{!template-lint-disable require-valid-alt-text}}
            />
          </div>
          <p>Raadpleeg, doorzoek en upload processen als originele BPMN- of
            Visiobestanden naar het Open Proces Huis, de centrale bron voor
            lokale besturen in Vlaanderen om processen te ontdekken en te delen.</p>
        </AuContent>
        <div class="au-c-home__form au-o-flow">
          <div class="au-o-grid au-o-grid--small">
            <div class="au-o-grid__item au-u-1-2@medium">
              <AuLink @skin="button" @route="auth.login">Log in</AuLink>
            </div>
            {{#if this.currentSession.canEdit}}
              <div class="au-o-grid__item au-u-1-2@medium">
                <AuCard @flex={{true}} as |c|>
                  <c.header
                    @badgeSkin="brand"
                    @badgeIcon="upload"
                    @badgeSize="small"
                  >
                    <AuHeading @level="2" @skin="4">
                      Deel jouw processen
                    </AuHeading>
                  </c.header>
                  <c.content>
                    <AuList @divider={{true}} as |Item|>
                      <Item>Upload processen</Item>
                      <Item>Beheer gedeelde processen</Item>
                    </AuList>
                  </c.content>
                  <c.footer>
                    <div class="au-u-h-functional au-o-flow au-o-flow--small">
                      <AuLink @skin="button" @route="shared-processes">Deel jouw
                        processen</AuLink>
                    </div>
                  </c.footer>
                </AuCard>
              </div>
            {{/if}}
            {{#if this.currentSession.isAdmin}}
              <div class="au-o-grid__item au-u-1-2@medium">
                <AuCard @flex={{true}} as |c|>
                  <c.header
                    @badgeSkin="brand"
                    @badgeIcon="upload"
                    @badgeSize="small"
                  >
                    <AuHeading @level="2" @skin="4">
                      Administratie
                    </AuHeading>
                  </c.header>
                  <c.content>
                    <AuList @divider={{true}} as |Item|>
                      <Item>Raadpleeg rapporten</Item>
                      <Item>Bevraag de databank</Item>
                    </AuList>
                  </c.content>
                  <c.footer>
                    <div class="au-u-h-functional au-o-flow au-o-flow--small">
                      <AuLink
                        @skin="button"
                        @route="reporting"
                      >Rapportering</AuLink>
                      <AuLink
                        @skin="button-secondary"
                        @route="sparql"
                      >SPARQL</AuLink>
                    </div>
                  </c.footer>
                </AuCard>
              </div>
            {{/if}}
          </div>
          <p class="au-u-text-center">
            <AuLinkExternal
              href="https://abb-vlaanderen.gitbook.io/informatie-oph"
            >
              Handleiding Open Proces Huis
            </AuLinkExternal>
          </p>
        </div>
      </div>
    </section>
  </AuBodyContainer>
</LayoutHome>