{{page-title "Inventaris"}}
{{breadcrumb "Inventaris" route="inventory"}}

<div class="au-c-body-container au-c-body-container--scroll">
  <NavigationBar />
  {{#if this.currentSession.isAuthenticated}}
    <ProcessBar />
  {{/if}}

  {{outlet}}
</div>