{{page-title "Processen mijn bestuur"}}
{{breadcrumb "Processen mijn bestuur" route="my-local-government"}}

<div class="au-c-body-container au-c-body-container--scroll">
  <NavigationBar />
  <ProcessBar />
  {{outlet}}
</div>