{{page-title "Mijn lokaal bestuur"}}
{{breadcrumb "Mijn lokaal bestuur" route="my-local-government"}}

<div class="au-c-body-container au-c-body-container--scroll">
  <NavigationBar />
  {{outlet}}
</div>