{{page-title "Alle processen"}}
{{breadcrumb "Alle processen" route="processes"}}

<div class="au-c-body-container au-c-body-container--scroll">
  <NavigationBar />
  <ProcessBar />
  {{outlet}}
</div>