<PageHeader>
  <:title>Rapportering</:title>
  <:subtitle>
    <p>Deze pagina bundelt alle rapporten met betrekking tot besturen en
      processen. De OPH Team Space op GitBook vertelt dan weer alles omtrent het
      raadplegen van gebruiksgegevens.
    </p>
    <AuLinkExternal
      href="https://app.gitbook.com/o/-MP9Yduzf5xu7wIebqPG/s/XKRwfgAcZ0dhzZWkI6YJ/research/analytics"
    >
      Gebruiksgegevens raadplegen
    </AuLinkExternal>
  </:subtitle>
  <:action></:action>
</PageHeader>