{{page-title "Gedeelde processen"}}
{{breadcrumb "Gedeelde processen" route="shared-processes"}}

<div class="au-c-body-container au-c-body-container--scroll">
  <NavigationBar />
  <ProcessBar />

  {{outlet}}
</div>