{{page-title "SPARQL"}}
{{breadcrumb "SPARQL endpoint" route="sparql"}}

<NavigationBar />
<StaticPage>
  <div class="au-o-region-large">
    <div class="au-o-layout">
      <div {{yasgui}}></div>
    </div>
  </div>
</StaticPage>